@using Domain.Entities
@using Service.ViewModels.Product
@model PaginatedList<ProductVM>

@if (Model == null)
{
    <p class="fs-4" style="color:red">
        There is no product
    </p>
    return;
}
<div class="products-area">
    <div class="products-header">
        <div class="sorting-left">
            <i class="fa-solid fa-table-cells-large"></i>
            <i class="fa-solid fa-list"></i>
            <span>Default sorting <i class="fa-solid fa-chevron-down"></i></span>
        </div>

        <div class="results-right">
            Showing @Model.FirstItemOnPage - @Model.LastItemOnPage of @Model.TotalCount results
        </div>
    </div>

    @await Html.PartialAsync("_ProductGridPartial", Model)

    <div class="pagination">
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <a asp-controller="Shop"
               asp-action="Index"
               asp-route-page="@i"
               asp-route-categoryId="@ViewBag.ActiveCategory"
               class="page @(Model.PageIndex == i ? "active" : "")">
                @i
            </a>
        }

        @if (Model.PageIndex < Model.TotalPages)
        {
            <a asp-controller="Shop"
               asp-action="Index"
               asp-route-page="@(Model.PageIndex + 1)"
               class="page next">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        }
    </div>

</div>
