@using Service.ViewModels.Slider
@model IEnumerable<SliderVM>

<section id="slider" class="slider">

    @{
        int index = 0;
    }

    @foreach (var item in Model)
    {
        <div class="slide @(index == 0 ? "active" : "")">
            <img src="~/admin/uploads/sliders/@item.Image" alt="">

            <div class="text-box">
                <div class="line small">@item.SmallText</div>
                <div class="line big">@item.BigText</div>
                <div class="line medium">@item.MediumText</div>
                <div class="line button">
                    <button>@item.ButtonText</button>
                </div>

                @if (!string.IsNullOrWhiteSpace(item.SmallNote))
                {
                    <div class="line small note">@item.SmallNote</div>
                }
            </div>
        </div>

        index++;
    }

    <div class="arrow left" id="prev">
        <i class="fa-solid fa-chevron-left"></i>
    </div>

    <div class="arrow right" id="next">
        <i class="fa-solid fa-chevron-right"></i>
    </div>

</section>
