@using Service.Service.Interfaces
@using Service.ViewModels.Basket
@inject IAccountService _accountService
@inject ICategoryService _categoryService
@model BasketUIVM


<header>
    <nav class="navbar">
        <div class="nav-left">
            <div class="red-box">
                <img src="~/assets/img/logo-white (2).svg" alt="">
            </div>

            <div class="sidebar-icon">
                <i class="fas fa-bars"></i>
            </div>
            <div id="sidebar-dropdown" class="sidebar-dropdown">
                <ul>
                    @foreach(var category in await _categoryService.GetAllAsync())
                    {
                        <li>
                            <a asp-controller="shop" asp-action="index" asp-route-categoryId="@category.Id">
                                <i class="@category.Icon"></i> @category.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>


            <div class="nav-links">
                <a asp-controller="home" asp-action="index">Home</a>
                <a asp-controller="shop" asp-action="index">Shop</a>
                <a asp-controller="blog" asp-action="index">Blog</a>
                <a asp-controller="contact" asp-action="index">Contact</a>
            </div>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <i class="fas fa-search" id="searchToggle"></i>
                <input type="text" id="searchInput" placeholder="Search products..." />
                <div id="searchResult"></div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                var user = await _accountService.GetUserAsync(@User.Identity.Name);
                if (user == null)
                {
                    <div class="auth">
                        <a asp-controller="account" asp-action="login">Login</a> / <a asp-controller="account" asp-action="register">Register</a>
                    </div>
                }
                else
                {
                    <div class="user-dropdown">
                        <button class="user-btn" id="userDropdownBtn">
                            @user.Name @user.Surname
                            <i class="fa-solid fa-chevron-down"></i>
                        </button>

                        <div class="user-menu" id="userDropdownMenu">
                            <a asp-controller="profile" asp-action="index">Profile</a>
                            <a asp-controller="order" asp-action="myorders">My orders</a>
                            <a asp-controller="profile" asp-action="settings">Settings</a>
                            <a asp-controller="account" asp-action="logout">Logout</a>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="auth">
                    <a asp-controller="account" asp-action="login">Login</a> / <a asp-controller="account" asp-action="register">Register</a>
                </div>
            }
            <div class="icons-nav">
                <a href="Wishlist.html">
                    <i class="fas fa-heart"></i>
                </a>

                <i class="fas fa-shopping-cart" id="cartIcon"></i>
                <sup id="basketCount" class="rounded-circle">@Model.TotalCount</sup>
            </div>


            <div class="cart-sidebar" id="cartSidebar">
                <div class="cart-header">
                    <h3>Shopping cart</h3>
                    <span id="closeCart" class="close-btn">CLOSE ×</span>
                </div>

                <div class="cart-body" id="basketContent">
                    @await Html.PartialAsync("_BasketSidebarPartial", Model)
                </div>
            </div>

            <div class="cart-overlay" id="cartOverlay"></div>

        </div>
    </nav>
</header>

<script>
    const searchToggle = document.getElementById("searchToggle");
    const searchInput = document.getElementById("searchInput");
    const searchResult = document.getElementById("searchResult");

    searchToggle.addEventListener("click", () => {
        searchInput.classList.toggle("active");
        searchInput.focus();
    });

    searchInput.addEventListener("keyup", async function () {
        const query = this.value;

        const res = await fetch(`/Shop/Search?search=${query}`);
        const data = await res.json();
        console.log(data);
        let html = "";

        data.forEach(p => {
            html += `
            <div class="search-item" onclick="location.href='/Shop/Detail/${p.id}'">
                <img src="/admin/uploads/products/${p.image}" />
                <div>
                    <strong>${p.name}</strong><br/>
                    <span>$${p.price}</span>
                </div>
            </div>
            `;
        });

        searchResult.innerHTML = html;
        searchResult.style.display = "block";
    });

</script>
<style>
    #searchToggle{
        padding-bottom: 6px;
        padding-top: 10px;
    }

    .search-box {
        position: relative;
        cursor: pointer;
        padding-bottom: 12px;
    }

    #searchInput {
        width: 0;
        opacity: 0;
        padding: 8px 12px 0 12px;
        border-radius: 6px;
        border: 1px solid #ccc;
        outline: none;
        transition: 0.4s;
        position: absolute;
        right: 35px;
        top: -4px;
        background: white;
    }

        #searchInput.active {
            width: 250px;
            opacity: 1;
        }

    #searchResult {
        position: absolute;
        top: 40px;
        right: 0;
        width: 300px;
        background: white;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        border-radius: 8px;
        display: none;
        max-height: 350px;
        overflow-y: auto;
        z-index: 3000;
    }

    .search-item {
        display: flex;
        gap: 10px;
        padding: 10px;
        cursor: pointer;
    }

        .search-item:hover {
            background: #f2f2f2;
        }

        .search-item img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 6px;
        }

</style>

