@using Domain.Entities
@using Service.ViewModels.Blog
@model PaginatedList<BlogVM>

<div class="blog-left">

    @foreach (var blog in Model)
    {
        <div class="blog-post">
            <div class="blog-main-img-box">
                <img src="~/admin/uploads/blogs/@blog.Image" class="blog-main-img" />
            </div>

            <div class="blog-meta">
                <span class="category">BLOG</span> 
            </div>

            <h2 class="blog-title">@blog.Title</h2>

            <div class="blog-info">
                <span>@blog.CreatedAt.ToString("MMMM dd, yyyy")</span> /
                <span>@blog.CommentCount Comments</span> /
                <span>By Admin</span>
            </div>

            <p class="blog-text">
                Read more to see details...
            </p>

            <a asp-controller="Blog"
               asp-action="Detail"
               asp-route-id="@blog.Id"
                class="read-more">
                Read More <i class="fa-solid fa-arrow-right"></i>
            </a>
        </div>
    }
</div>

<div class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="/blog/index?page=@i" class="page @(Model.PageIndex == i ? "active" : "")">
            @i
        </a>
    }

    @if (Model.PageIndex < Model.TotalPages)
    {
        <a href="/blog/index?page=@(Model.PageIndex + 1)" class="page next">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    }
</div>
