@using Service.ViewModels.Product
@model ProductVM


<div class="container" style="padding-top:30px;">
    <div class="row">

        <div class="col-md-4">
            <img src="~/admin/uploads/products/@Model.Image" class="img-responsive img-thumbnail" />
        </div>

        <div class="col-md-8">
            <h2>@Model.Name</h2>

            <h4>
                <span class="label label-info">@Model.Category.Name</span>
            </h4>

            <h3 style="margin-top:15px;">
                @if (Model.DiscountPrice != null)
                {
                    <span style="color:red;">@Model.DiscountPrice ₼</span>
                    <small style="text-decoration:line-through; color:gray;">@Model.Price ₼</small>
                }
                else
                {
                    <span>@Model.Price $</span>
                }
            </h3>

            <p>
                <strong>Quantity:</strong> @Model.Quantity <br />
                <strong>In Stock:</strong>
                @if (Model.InStock)
                {
                    <span class="text-success">Yes</span>
                }
                else
                {
                    <span class="text-danger">No</span>
                }
            </p>

            <p>
                <strong>Featured:</strong>
                @if (Model.IsFeatured)
                {
                    <span class="text-success">Yes</span>
                }
                else
                {
                    <span class="text-danger">No</span>
                }
            </p>

            <p>
                <strong>Average Rating:</strong>
                @Model.AverageRating ⭐
            </p>

            <a asp-action="index" asp-controller="product" class="btn btn-default">Back to products</a>
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        </div>

    </div>

    <hr />


</div>

